@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&family=Plus+Jakarta+Sans:wght@500;700&family=Space+Mono:wght@700&display=swap');
body{

    margin: 0;
    box-sizing: border-box;
    min-width: 100vw;
}

.head{

    display: flex;
    width: 343px;
    margin: 16px 16px 32px 20px;
    

}

.headlogo{
    width: 48px;
    height: 48px;
    
}

button{

    width: 176px;
    height: 44px;
    border-radius: 28px;
    border: 0;
}
.btn1{
    background-color: rgba(3, 3, 3, 1);
    color: rgba(255, 247, 240, 1);
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    margin-left: 119px;


}

.Amy{

    width: 300px;
    
}
.cards{
    margin-left: 16px;
}

.card1{
    background-color: rgba(117, 92, 222, 1);
    width: 343px;
    height: 364px;
    margin-bottom: 24px;
    border-radius: 8px;
    margin-bottom: 24px;
}
.card2{
    background-color:  rgba(246, 165, 96, 1);
    width: 159px;
    height: 182px;
    border-radius: 8px;
    
}
.card3{
    background-color: rgba(243, 158, 158, 1);
    width: 159px;
    height: 182px;
    margin-left: 25px;
    border-radius: 8px;
}

.card4{
    background-color: rgba(235, 117, 101, 1);
    width: 343px;
    height: 158px;
    border-radius: 8px;
    margin-bottom: 24px;
}
.card5{

    background-color: rgba(97, 196, 183, 1);
    width: 343px;
    height: 182px;
    border-radius: 8px;
    margin-bottom: 24px;

}
.card6{

    background-color: rgba(85, 32, 73, 1);
    width: 343px;
    height: 182px;
    border-radius: 8px;
    margin-bottom: 100px;
}

.imageCont{

   display: flex;
   margin-bottom: 32px;
   overflow: scroll;
}
/* .imageCont img{

    width: 270px;
    border-radius: 10px;
} */

.slide1{
    margin-right: 15px;
    width: 270px;
    border-radius: 10px;
}
.slide2{
    margin-right: 15px;
    width: 270px;
    border-radius: 10px;
}
.slide3{
    margin-right: 15px;
    width: 270px;
    border-radius: 10px;
}
.slide4{
    margin-right: 15px;
    width: 270px;
    border-radius: 10px;
}
.slide5{
    
    width: 270px;
    border-radius: 10px;
}
.arrows{

    display: flex;
  justify-content: center;
}
.arrowLeft{
    display: flex;
    background-color: rgba(3, 3, 3, 1);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 8px;
}
.arrowRight{
    background-color: rgba(3, 3, 3, 1);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-left: 8px;
}
.left{

    width: 14.8px;
    height: 16px;
    padding-left: 24px;
    padding-top: 24px;
   
}
.right{
    width: 14.8px;
    height: 16px;
    padding-left: 24px;
    padding-top: 24px;
    
}
.last{
    text-align: center;
    background-color: rgba(3, 3, 3, 1);
    width: 343px;
    height: 352px;
    border-radius: 10px;
    margin-bottom: 42px;
}
.par3{

    margin-left: 24px;
    margin-right: 24px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* text-align: center; */
    color: rgba(255, 247, 240, 1);
}
.lasttitle{

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    color: rgba(255, 247, 240, 1);
    padding-top: 49px;
}

.fotoslide{

    margin-bottom: 100px;
    
}

.btn3{

    background-color: rgba(235, 117, 101, 1);
    color: rgba(255, 247, 240, 1);
    font-size: 14px;
}

footer{
    display: flex;
    
    margin-bottom: 34px;
    margin-left: 16px;
    margin-right: 17px;
}

.footlogo{

    width: 48px;
    height: 48px;
   
}

.btn4{

    background-color: rgba(3, 3, 3, 1);
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: rgba(255, 247, 240, 1);
    margin-left: 119px;
}
.headline{

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    text-align: center;

}

.par1{

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    width: 285px;
    height: 105px;
    margin-left: 45px;
}

.pattern1{
    
    margin-top: 24px;
    margin-left: 191px;

}
.pattern2{

    margin-left: 71px;
    margin-top: 24px;
   

}

.card2title{
    margin-top: 40px;
    margin-left: 24px;
    color: rgba(255, 255, 255, 1);
}
.pattern3{

    margin-left: 71px;
    margin-top: 24px;
    
}
.card3title{
    margin-top: 40px;
    margin-left: 24px;
    color: rgba(255, 255, 255, 1);
}
.pattern4{
    margin-left: 192px;
    margin-top: 24px;
    width: 128px;
    
}
.card4title{
    margin-left: 24px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
}
.pattern5{
    margin-left: 159px;
    margin-top: 24px;
    width: 160px;
    height: 60px;
    margin-bottom: 16px;
}
.card5title{
    margin-left: 24px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);

}
.pattern6{
    margin-left: 192px;
    margin-top: 24px;
    margin-bottom: 16px;
    width: 128px;
    height: 64px
    

}
.card6title{
    margin-left: 24px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);

}

.card1title{

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-top: 90px;
    color: rgba(255, 255, 255, 1);
    margin-left: 24px;
    margin-bottom: 24px;
}

.card23{

    display: flex;
    margin-bottom: 24px;
}

.girlfoto{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title2{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    color: rgba(3, 3, 3, 1);

}

.par2{

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: rgba(122, 116, 110, 1);
}

.btn2{

    background-color: rgba(235, 117, 101, 1);
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: rgba(255, 247, 240, 1);
    margin-bottom: 100px;
}
.slidtitle{
    color: rgba(3, 3, 3, 1);
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

@media (min-width: 768px){

    .head{
        width: 689px;
        justify-content: space-between;
        margin-left: 39px;
    }

    .headline{

        font-size: 44px;
    }
    .par1{
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        width: 573px;
        margin-left: 91px;
    }
    .cards{
        margin-left: 39px;
        margin-right: 39px;
    }
    .card1{
        width: 333px;
        margin: 0;
    }
    .card2{
        width: 155px;
        margin: 0;
    }
    .card3{
        width: 155px;
        margin: 0;
    }
    .card4{
        width: 333px;
        margin: 0;
    }
    .card5{
        width: 333px;
        margin: 0;
    }
    .card6{
        width: 333px;
    }
    .card23{
        height: 182px;
        margin: 0;
        grid-gap: 24px;
    }
    .cardsGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0;
        grid-gap: 24px;
    }
    .grid234{
        display: grid;
        grid-gap: 24px;
    }
    .girlfoto{
        position: relative;
        margin-left: 360px;
        width: 339px;
        align-items: start;
    }
    .Amy{
        width: 364px;
        position: absolute;
        left: -131%;
        top: 28px;
    }
    .title2{
        font-size: 32px;
        line-height: 40px;
        text-align: start;
    }
    .par2{
        font-size: 18px;
        line-height: 28px;
        text-align: start;
        margin-bottom: 24px;
    }
    button{
        width: 228px;
        height: 56px;
    }
    .imageCont{
        scroll-behavior: smooth;
    }
    .imageCont img{

        width: 540px;
        height: 360px;
    }
    .slidtitle{
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 56px;
    }
    .arrows{
        margin-bottom: 120px;
    }
    .last{
        width: 690px;
        margin-bottom: 60px;
    }
    .lasttitle{
        font-size: 32px;
        line-height: 40px;
    }
    .par3{
        font-size: 18px;
        line-height: 28px;
        margin-left: 75px;
        width: 540px;
    }
    footer{
        width: 689px;
        justify-content: space-between;
        margin-left: 39px;
    }
    .fotoslide{
        margin-right: 39px;
    }
    .headlogo{
        width: 64px;
        height: 64px;
    }
    .footlogo{
        width: 64px;
        height: 64px;

    }

    @media (min-width: 1440px){

    .head{
        margin-left: 165px;
        width: 1111px;
    }
    

    .headline{
        font-size: 56px;
        line-height: 71px;
        text-align: center;
        margin-left: 355px;
        width: 751px;
    }

    .par1{
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        width: 730px;
        margin-left: 355px;
    }
    .cardsGrid{
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 165px;
       margin-right: 165px;
       margin-bottom: 206px;
    }
    .card1{
        width: 354px;
        height: 364px;
    }
    .card2{
        width: 164px;
    }
    .card3{
        width: 164px;
    }
    .card4{
        width: 354px;
    }
    .card5{
        width: 354px;
        height: 182px;
    }
    .card6{
        width: 354px;
        height: 158px;
        margin-bottom: 0;
    }
    .grid56{
        display: grid;
        grid-gap: 24px;
    }
    .grid234{

        display: flex;
        flex-direction: column;
    }
    .card6title{
        margin: 0;
        padding-left: 22px;
    }
    .Amy{
        width: 445px;
        left: -108%;
        top: -60px;
    }
    .girlfoto{
        width: 540px;
        height: 306px;
        margin-left: 735px;
        margin-bottom: 157px;
    }
    .title2{
        
        font-size: 40px;
        line-height: 50px;
        margin-top: 0;
    }
    .par2{
        width: 540px;
        height: 84px;
        font-size: 18px;
        line-height: 28px;
    }
    .btn2{
        margin-bottom: 0;
    }
    .imageCont{
        margin-bottom: 56px;
    }
    .cards{
        margin: 0;
    }
    .slide5{
        margin-right: 0;
    }
    .arrows{
        margin-bottom: 88px;
    }
    .last{
        display: flex;
        width: 1110px;
        height: 320px;
        margin-left: 165px;
    }
    .lastText{

        display: flex;
        flex-direction: column;
        text-align: start;
        margin-left: 65px;
        margin-bottom: 80px;
    }
    .lasttitle{
        text-align: start;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 25px;
    }
    .par3{
        
        margin-left: 0;
        font-size: 18px;
        line-height: 28px;
        margin-top: 0;
    }
    .btn3{
        margin-left: 182px;
        margin-top: 132px;
    }
    footer{
        margin-left: 165px;
        width: 1111px;
    }
    .btn1:hover{
        background-color:  rgba(117, 92, 222, 1);
        cursor: pointer;
    }
    }
    .btn2:hover{
        background-color: rgba(246, 165, 96, 1);
        cursor: pointer;
    }

    .arrowRight:hover{

        background-color: rgba(117, 92, 222, 1);
        cursor: pointer;
    }
    .arrowLeft:hover{

        background-color: rgba(117, 92, 222, 1);
        cursor: pointer;
    }
    .btn3:hover{
        background-color: rgba(246, 165, 96, 1);
        cursor: pointer;
    }
    .btn4:hover{
        background-color:  rgba(117, 92, 222, 1);
        cursor: pointer;



}
.slide1{
    margin-right: 30px;
}
.slide2{
    margin-right: 30px;
}
.slide3{
    margin-right: 30px;
}
.slide4{
    margin-right: 30px;
}


}
